
h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1.header {
  color:darkblue;
}
p {
  line-height: 40px;
}

.bold {
  font-weight: bold;
}
.blue{
  color:blue;
}

#summary {
  border-top: 2px dotted #808080;
}

.skills li {
  list-style-type: none;
  color: blue;
}

li {
  color: green !important;
}